.main-cards{
    width: 100vw;
    height: 100vh;
    position:absolute;
    top: 30vh;
}

.cardItem {
    background-color: var(--darkerblue);
    width: 25vw;
    height: 65vh;
    display:flex;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
} 

.card-title{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}

.card-img{
    
    height: 25vh;
width: 20vw;
border-radius: 20px;

}

.card-desc{
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;

}



.cardList {
    display: flex;
    gap: 10vw;
    padding-right: 5vw;
}

